$white: #ffffff;
$black: #000000;
$darkshade: #101010;
$red: #ED4C5C;

$main-weight: 400;

$title-weight: 600;
$title-size: 36px;
$title-height: 43px;

$lato: "Lato", sans-serif;

$desktop-bp: 1440px;
$tablet-bp: 991px;
$mobile-bp: 767px;

$container-width: 1100px;