.technology {
  padding-top: 65px;
  padding-bottom: 100px;
  background-color: inherit;

  &__title {
    @include title();
    margin-bottom: 60px;
    text-align: center;
  }

  &__list {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (max-width: $mobile-bp) {
      flex-direction: column;
    }
  }

  &__item {
    width: 24%;
    @include text(12px, 14px);
    color: $black;
    text-align: center;
    margin-top: 43px;
    position: relative;
    counter-increment: inst;

    @media (max-width: $mobile-bp) {
      width: 100%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &::before {
      position: absolute;
      content: "0" counter(inst);
      color: rgba(16, 16, 16, 0.08);
      font-weight: 700;
      font-size: 100px;
      line-height: 120px;
      width: 100%;
      height: 100%;
      top: -65px;
      left: 0;
    }
  }

  &__item-title {
    @include small-title();
    margin-top: 10px;
    margin-bottom: 10px;
  }
}